.project-deck {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* temporary (for development) */
  border: 4px dotted green;
}

.project-deck.right-card-clicked {
  flex-direction: row-reverse;

  :nth-child(1) {
    order: 2;
  }
  
  :nth-child(2) {
    order: 1;
  }
}