.navbar-header__nav {
  position: -webkit-sticky;
  position: sticky;
  top: 3.75rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.navbar-header__name,
.navbar-header__menu {
  border-radius: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 1.5rem;
  height: 4rem;
  background-color: #f0f0f0;
  color: black;

  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
}

/* to disable navbar-header__nav hover effect { */
.navbar-header__name:hover {
  background-color: #f0f0f0;
}
/* } to disable navbar-header__nav hover effect */

.navbar-header__menu-button {
  font-size: 1.5rem;
  font-weight: 600;
}

/* .navbar-header__menu-button fade out transition when not hovered over { */

.navbar-header__menu-button {
  transition: color 0.4s;
}

.navbar-header__menu-button:hover {
  background-color: #f0f0f0;
}

.navbar-header__menu:hover .navbar-header__menu-button:not(:hover) {
  color: #c7c7c7;
  transition: color 0.4s;
}

/* } .navbar-header__menu-button fade out transition when not hovered over */

/* welcome page { */

.navbar-header__welcome-page {
  height: calc(100vh - 5.5rem);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-header__welcome-page__text {
  width: 50%;
  min-width: 30rem;
  display: flex;
  flex-direction: column;
}

.navbar-header__welcome-page__text__primary {
  margin-top: calc(50vh - 5.5rem);
  padding-right: 25%;
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar-header__welcome-page__text__secondary {
  font-size: 1rem;
  margin-top: 2rem;
  padding-right: 25%;
  color: #747474;
}

.navbar-header__welcome-page__game {
  width: 50%;
  min-width: 870px; /* 870px is the width of the hard mode dificulty */
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-header__welcome-page__game__text {
  color: #747474;
  font-size: 1rem;

  margin-top: 40vh;

  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 1rem;

  border: 2px solid #827f78;
}

/* } welcome page */
