main {
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* temporary (for development) */
  border: 4px dotted blue;
  outline: 4px solid red;
}
