.project-card {
  transition: all 0.25s ease-out;
  flex-shrink: 0;

  /* temporary sizes, but they should be relationship to the viewport size */
  width: 40%;
  height: 30vh;

  transition-behavior: allow-discrete;
  overflow: hidden;
  z-index: 1;
  will-change: all;

  /* temporary (for development) */
  border-style: solid;
  border-width: 1px;
  border: 4px dotted blue;
  background-color: #f2f2f2;
}

.project-card__prevnext-button {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s,
    opacity 0.25s linear;
}

.project-card:not(.expanded):hover {
  transform: scale(1.025);
}

.project-card:hover {
  z-index: 2;
  .project-card__prevnext-button {
    visibility: visible;
    opacity: 1;
  }
}

/* expanded animation needs optimizing whenever project-card is place in a non-wrapping flex */
.project-card.expanded {
  /* temporary sizes */
  width: 100%;
  height: 95vh;
  position: relative;

  @starting-style {
    width: auto;
    height: auto;
  }
}

.project-card.fade-out-animation {
  opacity: 0;
  transition: all 0.25s ease-out;
}

.project-card.shrink-animation {
  width: 0;
  height: 0;
  transition: all 0.25s ease-out;
}
