/* fonts { */
@font-face {
  font-family: 'PP Mori';
  src: url('/fonts/PPMori-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'PP Mori SemiBold';
  src: url('/fonts/PPMori-SemiBold.otf') format('opentype');
}
/* } fonts */

.project-card__card {
  background: none;
  border: none;
  box-shadow: none;
}

.project-card__link {
  transition: all 0.25s ease-out;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project-card__content {
  padding-left: 0;
  padding-right: 0;
}

.project-card__image {
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.project-card__title {
  font-family: PP Mori SemiBold, sans-serif;
  font-style: normal;
  font-size: 2rem;
  
  line-height: 1.2;
  font-weight: 600;
  color: #000000;
  letter-spacing: 0.01em;
  width: fit-content;
}

.project-card__date {
  font-family: PP Mori, sans-serif;
  font-style: normal;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  line-height: 1.2;
  color: #827f78;
  letter-spacing: 0.01em;
  font-weight: 400;
}

/* Slide in underline for proejct card header { */

.project-card__title::after {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  opacity: 0;
  transition: opacity 750ms, transform 750ms;
}

.project-card__title {
  position: relative;
  overflow: hidden;
}

.project-card__title::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.underline-hover:hover, .underline-hover:focus {
  .project-card__title::after{
    transform: translate3d(0, 0, 0);
  }
}

/* } Slide in underline */